<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Credit Balance</th>
                    <th>Current Balance</th>
                    <th>Prepaid Balance</th>
                    <th>Saving Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let balance of listOfBalances">
                    <td>{{balance.id}}
                        <td>{{balance.credit_bal}}</td>
                        <td>{{balance.current_bal}}</td>
                        <td>{{balance.prepaid_bal}}</td>
                        <td>{{balance.saving_bal}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>