<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<a routerLink="/register" style="text-align:left;" class="nav-link" class="btn btn-primary">Register</a>

<form [formGroup]="loginForm" style="width: auto; margin-top: 2cm;  height: auto; border-collapse: unset; margin-left: 23cm; " (ngSubmit)="onSubmit()">
    <h2 style="max-width: 350px; margin-left: 0.2cm;">Login</h2>
    <div class="form-group">
        <label for="mobileNo" style="max-width: 350px; margin-left: 0.2cm;">mobileNo</label>
        <input type="text" style="max-width: 350px; margin-left: 0.2cm;" formControlName="mobileNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" />
        <div *ngIf="f.mobileNo.touched && f.mobileNo.invalid" class="alert alert-danger">
            <div *ngIf="f.mobileNo.errors.required">mobileNo is required</div>
            <div *ngIf="f.mobileNo.errors.pattern">Please, Enter valid mobile number</div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="panNo" style="max-width: 350px; margin-left: 0.2cm;">Pan No</label>
        <input toggle type="text" style="max-width: 350px; margin-left: 0.2cm;" formControlName="panNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.panNo.errors }">
        <div *ngIf="f.panNo.touched && f.panNo.invalid" class="alert alert-danger">
            <div *ngIf="f.panNo.errors.required">Pan number is required</div>
            <div *ngIf="f.panNo.errors.pattern">Please, Enter valid mobile number</div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="dateOfBirth" style="max-width: 350px; margin-left: 0.2cm;">dateOfBirth</label>
        <input toggle type="date" style="max-width: 350px; margin-left: 0.2cm;" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
        <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfBirth.errors.required">dateOfBirth is required</div>
        </div>
    </div>
    <br>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            View Balances
        </button>
        <!-- <a routerLink="/register-doctor" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;" class="btn btn-link">Register</a> -->
    </div>

</form>