/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* 
 @import "~@fortawesome/fontawesome-free/css/all.min.css";

 @font-face{font-family:"Roboto Slab" ;
    src: url("assets/fonts/static/RobotoSlab-Regular.ttf") format("truetype");}
    h1{font-family: "Roboto Slab";}
     body {padding-top: 56px;}
    
      body,html{height: 100%;}
    
      .footer{position: absolute;bottom: 10px;height: 60px;}
      .wrapper{min-height: 100%;position: relative;}
      .content{adding-bottom: 100px;} */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}